{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="container">
    <p>
        Un email vous a été envoyé contenant le lien pour réinitialisez votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu cet email, regardez dans vos spams ou <a href="{{ path('app_forgot_password_request') }}">essayez encore</a>.</p>
</div>    
{% endblock %}
