{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
<div class="container">

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>MOT DE PASSE OUBLIÉ ?</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Veuillez entrez l'adresse email indiqué au moment de la creation de votre compte utilisateur</br>
                Vous alllez recevoir un lien pour réinitialiser votre mot de passe
            </small>
        </div>

        <button class="btn btn-primary">Envoyer l'email</button>
    {{ form_end(requestForm) }}

</div> 
{% endblock %}
