{% for comment in  comments %}
<h6>trait</h6>
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{comment.user.firstname}} {{comment.user.lastname}} le
                        <small>{{comment.createdAt | date ('d/m/Y à H:i') }}</small>
                    </div>
                    <div class="col">
                        {{comment.content |raw}}
                    </div>
                </div>
            </div>
{% endfor %}