{% extends "base.html.twig" %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}


<div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center text-center">
    
    <section id="header">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.isVerified == true %}
        <h3>Bienvenue <p>{{ app.user.email }} !</p>
        </h3>
        {% endif %}

       
            <div class="col" style="background: url('/media/tricks/images/61ddc7092168a389320854.jpg' ) no-repeat center center; 
                width: 100%;
                height: 980px;
                background-size: cover;">

                <h1 class="text-uppercase text-white">Join The Snowboard</h1>
                <h1 class="text-uppercase text-white">Riders Community</h1>
                <p class="pt-5">
                <a href="#tricks" class="scroll-to btn btn-primary btn-sm text-uppercase">Voir Tricks&nbsp;&nbsp;<i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                </p>

            </div>
                       
     </section>      

</div>

<section id="tricks" class="py-4 mb-4">

    <div class="container">

        <h2 style="text-align:center;">Les dernieres tricks</h2>
        <div class="row py-5" id="tricks">
            {{ include('trick/_tricklist.html.twig', { tricks: tricks }) }}
        </div>
        <div class="col text-center">
            <a href={{ path ('list') }} class="btn btn-outline-primary text-uppercase">Voir tous les tricks</a>
        </div>
    </div>
</section>


{% endblock %}